@media screen and (max-width:620px) {
    .ThemeBtn{
        display: none;
    }
}
html {
    height: 100vh;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
}
.GradientAnim1{
    background: linear-gradient(231deg, #28e2b2, #2f78c5);
    background-size: 400% 400%;
    -webkit-animation: GradientAnim 24s ease infinite;
    -moz-animation: GradientAnim 24s ease infinite;
    animation: GradientAnim 24s ease infinite; 
}
@-webkit-keyframes GradientAnim {
    0% {
        background-position: 92% 0%
    }

    50% {
        background-position: 9% 100%
    }

    100% {
        background-position: 92% 0%
    }
}

@-moz-keyframes GradientAnim {
    0% {
        background-position: 92% 0%
    }

    50% {
        background-position: 9% 100%
    }

    100% {
        background-position: 92% 0%
    }
}

@keyframes GradientAnim {
    0% {
        background-position: 92% 0%
    }

    50% {
        background-position: 9% 100%
    }

    100% {
        background-position: 92% 0%
    }
}

.Calculator{
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    background-color: #15f2ba7d;
    border: 1px solid rgba(255, 255, 255, 0.02);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: rgb(27, 24, 24);
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
    user-select: none;
    -webkit-user-select: none;
}
.Screen{
    backdrop-filter: blur(5.5px);
    border: 5px solid rgba(115, 70, 70, 0.302);
    background: rgba(255, 255, 255, 0.7);
    border-radius: 17px;
    font-size: 35px;
    padding: 20px;
    overflow: auto;
    text-align: right;
    user-select: none;
    -webkit-user-select: none;
}
.BTNRow{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.BTN{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid gray;
    flex-basis: 20%;
    border-radius: 16px;
    height: 65px;
    font-size: 19px;
    transition: 0.3s;
    cursor: pointer;
}
#Double{
    flex-basis: 20%;
}
#Num0{
    flex-basis: 73%;
}
#Divide{
    background-color: #c3dbf4;
}
#Equal{
    background-color: #d6b0bb;
}
#Times{
    background-color: #86a7fa;
}
#Minus{
    background-color: #a27f98;
}
#Plus{
    background-color: #2c71d878;
}
.BTN:hover{
    background-color: black;
    color: white;
    border: 1px solid skyblue;
}
#Divide:hover{
    background-color: black;
    color: white;
    border: 1px solid skyblue;
}
#Times:hover{
    background-color: black;
    color: white;
    border: 1px solid skyblue;
}
#Minus:hover{
    background-color: black;
    color: white;
    border: 1px solid skyblue;
}
#Plus:hover{
    background-color: black;
    color: white;
    border: 1px solid skyblue;
}
#Equal:hover{
    background-color: black;
    color: white;
    border: 1px solid skyblue;
}
.BTN:active{
    background-color: rgb(210, 70, 70);
    border:none;
}
#Divide:active{
    background-color: rgb(210, 70, 70);
    border:none;
}
#Times:active{
    background-color: rgb(210, 70, 70);
    border:none;
}
#Minus:active{
    background-color: rgb(210, 70, 70);
    border:none;
}
#Plus:active{
    background-color: rgb(210, 70, 70);
    border:none;
}
#Equal:active{
    background-color: rgb(210, 70, 70);
    border:none;
}

/* Theme */

.ThemeBtn{
    position: absolute;
    top: 40px;
    left: 50px;
    font-size: 50px;
    background: transparent;
    color: red;
    transition: 0.2s;
    border: none;
    cursor: pointer;
}
.ThemeBtn:hover{
    color: blue;
}
.ThemeSelector{
    position: absolute;
    top: 90px;
    left: 30px;
    margin-top: 10px;
    border-collapse: collapse;
    transition: 0.2s;
}
.ThemeSelector button{
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    font-size: 22px;
    display: inherit;
    background-color: white;
    cursor: pointer;
    width: 250px;
    border: 2px solid red;
    transition: 0.3s;
}
.ThemeSelector button:hover{
    background-color: #31455a;
    color: white;
    border: 2px solid yellow;
}
.Anim1{
    animation: Anim1 0.6s forwards;
}
.Invisible{
    visibility: hidden;
}
@keyframes Anim1{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.Anim2{
    animation: Anim2 0.6s forwards;
}

@keyframes Anim2{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.GradientAnim2{
    background: linear-gradient(238deg, #3d0c7a, #070608);
    background-size: 400% 400%;

    -webkit-animation: GradientAnim2 20s ease infinite;
    -moz-animation: GradientAnim2 20s ease infinite;
    animation: GradientAnim2 20s ease infinite;
}

@-webkit-keyframes GradientAnim2 {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}
@-moz-keyframes GradientAnim2 {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}
@keyframes GradientAnim2 {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}
.GradientAnim3 {
    background: linear-gradient(238deg, #f96167, #f9e795);
    background-size: 400% 400%;

    -webkit-animation: GradientAnim3 16s ease infinite;
    -moz-animation: GradientAnim3 16s ease infinite;
    animation: GradientAnim3 16s ease infinite;
}

@-webkit-keyframes GradientAnim3 {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}
@-moz-keyframes GradientAnim3 {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}
@keyframes GradientAnim3 {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}